.wrapper--video {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1; }
  .wrapper--video video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%; }

nav {
  background: transparent !important;
  color: #F7F8F8 !important;
  border: none !important;
  box-shadow: none !important;
  padding-top: 22px; }
  nav .container-fluid {
    padding-right: 2.3em;
    padding-left: 6em; }

.navbar-default .navbar-brand {
  color: #F7F8F8 !important;
  background: transparent !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700; }
.navbar-default .navbar-nav li a {
  color: #F7F8F8 !important;
  background: transparent !important;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700; }
.navbar-default .navbar-nav li:last-child a {
  background: #F86A3A !important;
  border-radius: 17px;
  margin-top: 9px;
  line-height: 3%;
  padding-bottom: 16px;
  padding-right: 19px;
  padding-left: 19px; }
.navbar-default .navbar-nav > .active > a {
  color: #F7F8F8 !important;
  box-shadow: none;
  background: transparent !important; }

.lp__banner--parent {
  height: 100%;
  background: rgba(54, 57, 66, 0.96); }
  .lp__banner--parent .banner__right--rotate {
    color: #F7F8F8;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    position: absolute;
    right: -36px;
    top: 43%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700; }
    .lp__banner--parent .banner__right--rotate .right--rotate__horizontal {
      border-bottom: 2px solid #FD6C3B;
      position: absolute;
      right: 16em;
      top: 49%;
      width: 4em; }
  .lp__banner--parent .container h2 {
    color: white;
    margin: 5em 0 4.5em 1em;
    line-height: 160%; }
  .lp__banner--parent .container .desc__prod--active {
    border-bottom: 4px solid #F86A3A; }
  .lp__banner--parent .container .col-md-3 {
    color: #F7F8F8;
    height: 13em;
    padding: 0;
    width: calc(25% - 4em);
    line-height: 149%;
    font-size: 13px;
    margin-right: 5.3em; }
    .lp__banner--parent .container .col-md-3 i {
      margin-bottom: 0.6em;
      font-size: 2em; }
  .lp__banner--parent .container .col-md-3:last-child {
    margin-right: 0; }

.lp__testimony--parent {
  padding: 7em 0;
  background: #F9FAFC; }
  .lp__testimony--parent .col-md-4:nth-child(1) h3 {
    color: #45474D;
    line-height: 145%;
    font-weight: 800;
    margin-bottom: 1.3em;
    text-align: right; }
  .lp__testimony--parent .col-md-4:nth-child(1) h5 {
    color: #45474D;
    text-align: right; }
  .lp__testimony--parent .col-md-4:nth-child(2) h6 {
    color: #8C8D96;
    line-height: 175%;
    padding-bottom: 2em;
    border-bottom: 2px solid #E0E1E3;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word; }
  .lp__testimony--parent .col-md-4:nth-child(2) h4 {
    color: #45474D;
    line-height: 145%;
    padding-bottom: 24px;
    border-bottom: 2px solid #E0E1E3;
    font-weight: 800;
    margin-top: 18px;
    margin-bottom: 0; }
  .lp__testimony--parent .col-md-4:nth-child(3) img {
    width: 100%;
    height: 422.6px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .lp__testimony--parent .testimony__triangel--orange {
    position: absolute;
    right: -4em;
    bottom: -45em;
    border-bottom: 44.5em solid rgba(248, 106, 58, 0.92);
    border-left: 17em solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 29em; }

/*# sourceMappingURL=style.css.map */
